button{

    margin-left: 400px;
    margin-top: 10px;
    background-color: #4ac1f7;
    width: 80px;
}

contact{

    margin-left: 400px;
}

input, textarea{

    margin-left: 400px;
    margin-top: 0px;
    width: 300px;
}
label{
    margin-left: 400px;
    display: block;
    width: 500px;
    color: white;
}

mail{

    color: white;
}
exampleInputEmail1{

    height: 500px;
}