{% include "portfol/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfol/main.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">


</head>
<body>

    <div class="container">
        <h2>Services</h2>
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/frontend.png' %}"></div>
                    <div class="title">Front-end</div>
                    <p>Your website will be tailor-made for you.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/backend.png' %}"></div>
                    <div class="title">Back-end</div>
                    <p>Be sure that your website functions well in a professional manner.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/paint.png' %}"></div>
                    <div class="title">Web Design </div>
                    <p>We will provide quality designs for your website.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/responsive.png' %}"></div>
                    <div class="title">Responsive Design </div>
                    <p>Your website will be flexible and compatible with any device.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/ads.png' %}"></div>
                    <div class="title">Advertising </div>
                    <p>Ads in your website won't ruin the user experience.</p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><img src="{% static 'portfol/img/support.png' %}"></div>
                    <div class="title">Support</div>
                    <p>Any questions or inquiries will be treated with the utmost care</p>
                </div>
            </div>
        </section>
    </div>



    {% block content %}{% endblock %}
</body>
</html>